{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block body %}
    <h1>Task index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>IsDone</th>
                <th>CreatedAt</th>
                <th>Priority</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.isDone ? 'Yes' : 'No' }}</td>
                <td>{{ task.createdAt ? task.createdAt|date('Y-m-d') : '' }}</td>
                <td>
                    {% if task.priority == 'High' %}
                        <span class="badge bg-danger">Haute 🔥</span>
                    {% elseif task.priority == 'Medium' %}
                        <span class="badge bg-warning text-dark">Moyenne ⚖️</span>
                    {% elseif task.priority == 'Low' %}
                        <span class="badge bg-success">Faible 🌱</span>
                    {% else %}
                        <span class="badge bg-secondary">Non définie</span>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_task_show', {'id': task.id}) }}">show</a>
                    <a href="{{ path('app_task_edit', {'id': task.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <a href="{{ path('app_task_new') }}" class="btn-base btn-primary">➕ Créer une nouvelle tâche</a>
{% endblock %}
