{{ form_start(form, {'attr': {'class': 'contact-form-wrapper', 'novalidate': 'novalidate'}}) }}
<fieldset>
    <h2 class="h2-contact">Formulaire de contact</h2>

    <p>
        {{ form_label(form.name, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.name, {'attr': {'class': 'input-field'}}) }}
        {{ form_errors(form.name, {'attr': {'class': 'form-error'}}) }}
    </p>

    <p>
        {{ form_label(form.email, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.email, {'attr': {'class': 'input-field'}}) }}
        {{ form_errors(form.email, {'attr': {'class': 'form-error'}}) }}
    </p>

    <p>
        {{ form_label(form.message, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.message, {'attr': {'class': 'textarea-field'}}) }}
        {{ form_errors(form.message, {'attr': {'class': 'form-error'}}) }}
    </p>

    <button type="submit" class="btn-base btn-secondary mt-4">📨 Envoyer</button>
</fieldset>
{{ form_end(form) }}