{% include 'partials/_header.html.twig' %}
{% include 'partials/_footer.html.twig' %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Mon site{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}"
</head>
<body>
    <header>
        <nav>
            <a href="{{ path('app_home') }}">Accueil</a>
            <a href="{{ path('about') }}">A propos</a>
            <a href="{{ path('contact') }}">Contact</a>
        </nav>
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>
<footer>
    <img src="{{ site.logo }}" alt="{{ site.name }}">
    <p>© {{ site.name }} - {{ "now"|date("Y") }}</p>
    <p>Contact : <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
</footer>
</body>
</html>